version: "3"

name: grafana-loki

networks:
  loki:

services:
  loki:
    image: grafana/loki:2.7.4
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki

  promtail:
    image: grafana/promtail:2.7.4
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - /var/log/rusty-controller:/var/log/rusty-controller
    networks:
      - loki

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - loki
